<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<title>Freelancer Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static "assets/css/main.css" %}" />
		<noscript><link rel="stylesheet" href="{% static "assets/css/noscript.css" %}"/></noscript>
	</head>
	<body class="is-preload">
		
		<!-- Header -->
			<header id="header">
				<a href={% url "taskmanager:index" %} class="title">Freelancer Website</a>
				<nav>
					<ul>
						<li><a href="{% url 'taskmanager:index' %}" class="active">Home</a></li>
						<li><a href="{% url 'taskmanager:login' %}">Login</a></li>
						<li><a href="{% url 'taskmanager:signup' %}">Signup</a></li>
						<li><a href="{% url 'taskmanager:post_project' %}">Post a Project</a></li>
						<li><a href="{% url 'taskmanager:browse_jobs' %}">Browse Jobs</a></li>

					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Sign Up</h1>
							<p id="error" >
								{% if error_message %}
									<b>{{error_message}}</b>
								<br> {% endif %}
							</p>


							<form method="post" id="signup-form" action="{% url 'taskmanager:signup' %}">
								{% csrf_token %}
								<div>
									<div class="row">
										<div class="col-4 col-12-xsmall">
											<input type="text" id="username" name="name" placeholder="Username" required/><br/>
										</div>
									</div>
									<div class="row">	
										<div class="col-4 col-12-xsmall">
											<input type="text" id="fname" name="fname" placeholder="First Name" required><br/>
										</div>
									</div>
									<div class="row">
										<div class="col-4 col-12-xsmall">
											<input type="text" id="lname" name="lname" placeholder="Last Name" required><br/>
										</div>
									</div>
									<div class="row">
										<div class="col-4 col-12-xsmall">
											<input type="email" id="email" name="email" placeholder="Email" required><br/>
										</div>
									</div>
									<div class="row">
										<div class="col-4 col-12-xsmall">
											<input type="password" id="password" name="password" placeholder="Password" required/><br/>
										</div>
									</div>
									<div class="row">
										<div class="col-4 col-12-xsmall">
											<input type="tel" min="0" name="phno" minlength="10" maxlength="11" placeholder="Phone Number" required><br/>
										</div>
									</div>
									<div class="row">
										<div class="col-4 col-12-xsmall">
											<input type="text" id="bio" name="bio" placeholder="write something about yourself" required />
											<br/>
										</div>
									</div>
									<div class="row">
										<div class="col-4 col-12-xsmall">
											<select name="gender" data-toggle="dropdown">
												<option value="Male" style="padding-left: 10px; " selected>Male</option>
												<option value="Female" style="padding-left: 10px; ">Female</option>
											</select>
											<br>
										</div>
									</div>
<input type="submit" value="Register" data-wait="Please wait..." class="submit"/>
									<div class="row">
										<div class="col-4 col-12-xsmall">

											<br>
										</div>
									</div>
								</div>
							</form>

						</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; All rights reserved for Freelance.</li><li>Design: <a href="#">Hamed Bahrami</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->

	</body>
</html>
